.card-container {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    border-radius: 20px;
    width: 500px;
    padding: 10px;
}
article {
    display: block;
}
.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card-text{
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-title{
    color:black;
    font-weight: bold;
}
.card-price{
    color:orange;
    font-weight: bold;
}
.card-img{
    border-radius: 20px 20px 0 0;
    height: 300px;
    overflow: hidden;
    width: 100%;
}

.card-img img {
    width: 100%;
    /* Make the image take the full width of the card container */
    height: auto;
    /* Maintain the image's aspect ratio */
}