.card-container {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    border-radius: 20px;
    width: 32%;
}
.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card-text{
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-title{
    color:black;
    font-weight: bold;
}
.card-price{
    color:orange;
    font-weight: bold;
}
.card-img{
    margin: 1rem;
}