.card-container {
    display: grid;
    grid-template-rows: 50% auto;
    /* Split the card into two rows, with the first taking 50% of the height */
    background-color: #edefee;
    border-radius: 20px;
    width: 500px;
    overflow: hidden;
    /* Hide overflow for the rounded corners */
    position: relative;
    /* Establish a positioning context for the image */
}
article {
    display: block;
}
.card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.card-img, .card-text h3{
    display: flex;
    align-items: center;
}
.card-text{
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-heading{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
}
.card-title{
    color:black;
    font-weight: bold;
}
.card-price{
    color:orange;
    font-weight: bold;
}
.card-img{
    border-radius: 20px 20px 0 0;
    height: 300px;
    overflow: hidden;
    width: 100%;
}
.card-img img {
    width: 100%;
    height: auto;
}
@media screen and (min-width:579px) and (max-width: 1180px){
    .card-container {
        width: 200px;
    }
    .card-img{
        height: 200px;
    }
    .card-heading{
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 0.5rem;
    }
}