.nav-section{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}
.links-list{
    display: flex;
    gap:25px;
}
ul{
    list-style-type: none;
}
.link-item{
    text-decoration: none;
    margin-right: 2rem;
}
img {
    width: 200px;
}