.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.nav-logo{
    flex: 1;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.links-list{
    list-style-type: none;
    display: flex;
    gap:20px;
}
ul{
    list-style-type: none;
}
.link-item{
    text-decoration: none;
}
img {
    width: 200px;
}