.booking-form {
    display: grid;
    max-width: 200px;
    gap: 20px
}
.form-field{
    display: flex;
    flex-direction: column;
}
.error{
    color: red;
    font-size: .8rem;
    font-weight: bold;
}