.highlights-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 400px;
    width: 90%;
    margin: auto;
}
.highlights-top-section {
    display: flex;
}
.highlights-card{
    display: flex;
    justify-content: space-between;
}