.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #495e57;
    width: 100%;
    height: 400px;
}
.header-left {
    flex: 1;
    margin-left: 5rem;
}
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-heading{
    color:#f4ce14;
    font-size: 50px;
    font-weight: bold;
}
.header-subheading{
    color: #fff;
    font-size: 30px;
    font-weight:bold;
}
.header-text{
    color: #fff
}
.header-img {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: right;
    overflow: hidden;
    position: absolute;
    top: 100px;
}
.header-img img{
    border-radius: 20px;
    width:350px;
    height:450px
}