.footer-section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #495e57;
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding:1rem;

}
.doormat-nav,
.contact-info,
.social-media {
    flex: 1;
    /* Distribute available space equally among these sections */
    text-align: left;
    /* Center-align the text within each section */
}
.footer-list {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}
.footer-list li {
    margin: 10px 0;
    /* Add spacing between list items */
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-left:13rem ;
    margin-right: 10rem;
}
.footer-section img{
    width: 80px; 
    height: 80px;
}