.footer-section {
    display: flex;
    background-color: #495e57;
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set your preferred background color */
    color: #fff;
    /* Set your preferred text color */
    padding: 10px;
    /* Add padding for spacing within the footer */
}